/* -------------------- Global Variables -------------------- */

:root {
    /* Color Palette */
    --white: #FFFFFF;
    --black: #080808;
    --light-gray: #F5F5F5;
    --dark-gray: #4e4e4e;
    --darker-gray: #181818;
    --jade: #3AB377;
    --charcoal: #39474E;
    --seasalt: #e4e7e7;

    /* Font Families */
    --header: Tahoma, Geneva, Verdana, sans-serif;
    --paragraph: Verdana, Geneva, Tahoma, sans-serif;
}

/* -------------------- General -------------------- */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body > * {
    /* ----- Box Model ----- */
    width: 100%;
    padding: 0 8%;

    /* ----- Typography ----- */
    font-family: var(--paragraph);
    font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
    /* ----- Typography ----- */
    font-family: var(--header);
    font-weight: bold;
}

p {
    /* ----- Typography ----- */
    font-family: var(--paragraph);
    font-weight: lighter;
}

/* -------------------- Topnav -------------------- */

.topnav {
    /* ----- Variables ----- */
    --topnav-height: 80px;
    --padding-tb: 15px;

    /* ----- Box Model ----- */
    position: relative;
    min-height: var(--topnav-height); 
}

    .topnav > * {
        /* ----- Box Model ----- */
        display: inline;
        height: inherit;
    }

    .logo {
        /* ----- Box Model ----- */
        position: absolute;
        height: var(--topnav-height);
        padding: var(--padding-tb) 0;
        
        /* ----- Align Verlicaly ----- */
        top: 45%;
        transform: translateY(-50%);
    }

    .nav {
        /* Align on Right*/
        float: right;
    }

        .nav-item {
            /* ----- Box Model ----- */
            display: inline-block;
            height: inherit;
            padding: 0 1em;
            
            /* ----- Typography ----- */
            color: var(--black);
            font-family: var(--paragraph);
            font-size: 14px;
            line-height: var(--topnav-height);
            font-weight: lighter;
            text-decoration: none;
        }

            .nav-item:hover {
                /* ----- Typography ----- */
                color: var(--white);
                background-color: var(--jade);
            }

/* -------------------- Recent Articles -------------------- */

.recent-articles {
    /* ----- Box Model ----- */
    position: relative;
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    /* ----- Typography ----- */
    background-color: var(--white);
}

    .recent-articles-header {
        /* ----- Box Model ----- */
        position: relative;
        width: 100%;
        margin-bottom: 0px;

        /* ----- Typography ----- */
        color: var(--black);
        font-size: 25px;
    }

    .article-list {
        /* ----- Box Model ----- */
        position: relative;
        width: 100%;
        height: auto;
    }

        .article {
            /* ----- Box Model ----- */
            position: relative;
            display: block;
            height: inherit;
            width: 30%;
            margin: 1.666%;

            float: left;
        }
        
            .article-link {
                /* ----- Box Model ----- */
                position: relative;
                width: 100%;

                /* ----- Visual Decoration ----- */
                text-decoration: none;
            }

            .article-image {
                /* ----- Box Model ----- */
                width: 100%;
            }

                .article-image img {
                    /* ----- Box Model ----- */
                    width: 100%;
                    object-fit: cover;
                }

            .article-text {
                /* ----- Box Model ----- */
                width: 100%;
                height: max-content;
                padding: 15px 10px;
            }

                .article-header {
                    /* ----- Box Model ----- */
                    padding-bottom: 8px;

                    /* ----- Typography ----- */
                    color: var(--darker-gray);
                    font-family: var(--header);
                    font-size: 15px;
                }

                .article-label {
                    /* ----- Typography ----- */
                    color: var(--dark-gray);
                    font-family: var(--paragraph);
                    font-size: 12px;
                }

/* -------------------- Footer -------------------- */

footer {
    display: inline-block;

    /* ----- Box Model ----- */
    padding-top: 20px;
    padding-bottom: 20px;

    /* ----- Typography ----- */
    color: var(--seasalt);
    font-family: var(--paragraph);
    font-size: 10px;
    text-align: center;
    background-color: var(--charcoal);
}