:root {
    /* Color Palette */
    --white: #FFFFFF;
    --black: #000000;
    --jade: #3AB377;
    --charcoal: #39474E;
    --seasalt: #e4e7e7;

    /* Font Families */
    --header: Verdana, Geneva, Tahoma, sans-serif;
    --paragraph: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body  > * {
    width: auto;
    padding: 0 60px;
}

/* Topnav Style */

.topnav {
    height: 70px;
}

.topnav > * {
    --padding-top-bottom: 15px;

    display: inline;

    height: inherit;
}

.topnav .logo img {
    height: inherit;
    padding-top: var(--padding-top-bottom);
    padding-bottom: var(--padding-top-bottom);
}

.topnav nav {
    float: right;
}

.topnav nav a {
    display: inline-block;

    height: inherit;
    padding: 0 25px;
    padding-top: var(--padding-top-bottom);
    padding-bottom: var(--padding-top-bottom);

    color: var(--black);
    font-family: var(--paragraph);
    text-decoration: none;
    line-height: 45px;
}

.topnav nav a:hover {
    background-color: var(--jade);
}

/* Hero Style */

.hero-image {
    position: relative;

    height: 600px;

    background: url("../images/hero.jpg") no-repeat center;
    background-size: cover;
}

.hero-text {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;

    text-align: center;
}

.hero-text h1 {
    font-size: 60px;
    font-family: var(--header);
    color: var(--white);
}

.hero-text p {
    font-size: 16px;
    font-family: var(--paragraph);
    color: var(--white);
}

/* Cards Style */

.card-list {
    position: relative;    
    
    width: auto;
    padding-bottom: 40px;

    background-color: var(--seasalt);

    box-sizing: content-box;
}

.card {
    position: relative;
    display: inline-block;
    
    width: 30%;
    margin: 0 1.5%;
}

.card .card-text {
    position: absolute;
    
    bottom: 100%;
 
    width: 100%;
    height: max-content;
    padding: 25px 20px;

    background-color: var(--jade);
}

.card .card-text h2 {
    padding-bottom: 10px;

    font-size: 20px;
    font-family: var(--header);
    color: var(--white);
}

.card .card-text p {
    font-size: 14px;
    font-family: var(--paragraph);
    color: var(--white);
}

.card img {
    width: 100%;
}