/* -------------------- Global Variables -------------------- */

:root {
    /* Color Palette */
    --white: #FFFFFF;
    --black: #000000;
    --dark-gray: #333333;
    --jade: #3AB377;
    --charcoal: #39474E;
    --seasalt: #e4e7e7;

    /* Font Families */
    --header: Verdana, Geneva, Tahoma, sans-serif;
    --paragraph: Arial, Helvetica, sans-serif;
}

/* -------------------- General -------------------- */

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body > * {
    width: auto;

    padding: 0 60px;
}

/* -------------------- Topnav -------------------- */

.topnav {
    /* ----- Variables ----- */
    --topnav-height: 80px;
    --padding-tb: 15px;

    /* ----- Box Model ----- */
    position: relative;
    height: var(--topnav-height); 
}

    .topnav > * {
        /* ----- Box Model ----- */
        display: inline;
        height: inherit;
    }

    .logo {
        /* ----- Box Model ----- */
        position: absolute;
        height: var(--topnav-height);
        padding: var(--padding-tb) 0;
        
        /* ----- Align Verlicaly ----- */
        top: 45%;
        transform: translateY(-50%);
    }

    .nav {
        /* Align on Right*/
        float: right;
    }

        .nav-item {
            /* ----- Box Model ----- */
            display: inline-block;
            height: inherit;
            padding: 0 25px;
            
            /* ----- Typography ----- */
            color: var(--black);
            font-family: var(--paragraph);
            font-size: 15px;
            line-height: var(--topnav-height);
            font-weight: lighter;
            text-decoration: none;
        }

        .nav-item:hover {
            /* ----- Typography ----- */
            color: var(--white);
            background-color: var(--jade);
        }

/* --------------------- Hero Image --------------------- */

.hero-image {
    /* ----- Box Model ----- */
    position: relative;
    height: 700px;

    /* ----- Background ----- */
    background: url("../images/hero.jpg") no-repeat center;
    background-size: cover;
}

    .hero-text {
        /* ----- Box Model ----- */
        position: absolute;
        width: 80%;

        /* ----- Align Horizontally and Verticaly ----- */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        /* ----- Typography ----- */
        text-align: center;
    }

        .hero-title {
            /* ----- Typography ----- */
            color: var(--white);
            font-family: var(--header);
            font-size: 60px;
        }

        .hero-label {
            /* ----- Typography ----- */
            color: var(--white);
            font-family: var(--paragraph);
            font-size: 16px;
        }

/* -------------------- Card List -------------------- */

.card-list {
    /* ----- Box Model ----- */
    position: relative;
    width: auto;
    padding-bottom: 50px;
    box-sizing: content-box;

    /* Typography */
    background-color: var(--seasalt);
}

    .card {
        /* ----- Box Model ----- */
        display: inline-block;
        position: relative;
        width: 30%;
        margin: 0 1.5%;
    }

        .card-text {
            /* ----- Box Model ----- */
            position: absolute;
            width: 100%;
            height: max-content;
            padding: 25px 20px;
            
            /* ----- Align to Bottom ----- */
            bottom: 100%;

            /* ----- Typography ----- */
            background-color: var(--jade);
        }

            .card-header {
                /* ----- Box Model ----- */
                padding-bottom: 10px;
                
                /* ----- Typography ----- */
                color: var(--white);
                font-family: var(--header);
                font-size: 18px;
            }

            .card-label {
                /* ----- Typography ----- */
                color: var(--white);
                font-family: var(--paragraph);
                font-size: 13px;
                font-weight: lighter;
            }

        .card-image {
            /* ----- Box Model ----- */
            width: 100%;
        }

/* -------------------- Services -------------------- */

.services {
    /* ----- Box Model ----- */
    position: relative;
    width: auto;
    padding-top: 40px;
    padding-bottom: 80px;

    /* ----- Typography ----- */
    background-color: var(--seasalt);
}

    .services-text {
        /* ----- Box Model ----- */
        position: relative;
        width: 100%;
        margin-bottom: 60px;
    }

        .services-text * {
            /* ----- Align Horizontally ----- */
            text-align: center;
        }

        .services-header {
            /* ----- Box Model ----- */
            padding-bottom: 10px;
            
            /* ----- Typography ----- */
            color: var(--black);
            font-family: var(--header);
            font-size: 30px;
        }

        .services-label {
            /* ----- Typography ----- */
            font-size: 16px;
            font-family: var(--paragraph);
            color: var(--black);
        }

    .services-list {
        /* ----- Box Model ----- */
        display: inline-block;
        position: relative;
        width: 100%;
    }

        .service-item {
            /* ----- Box Model ----- */
            position: relative;
            display: inline;
            width: 22%;
            margin: 0 1.375%;

            /* ----- Align to left ----- */
            float: left;
        }

            .service-icon {
                /* ----- Box Model ----- */
                position: relative;
                width: 100%;
                height: 150px;
                margin-bottom: 30px;
            }

                .service-icon-image {
                    /* ----- Box Model ----- */
                    position: absolute;
                    height: inherit;

                    /* ----- Align Horizontally ----- */
                    left: 50%;
                    transform: translateX(-50%);
                }

            .service-header {
                /* ----- Box Model ----- */
                position: relative;
                width: 100%;
                margin-bottom: 10px;

                /* ----- Typography ----- */
                color: var(--black);
                font-family: var(--header);
                font-size: 20px;
                text-align: center;
            }

            .service-label {
                /* ----- Box Model ----- */
                position: relative;
                width: 100%;
                margin-bottom: 30px;

                /* ----- Typography ----- */
                color: var(--dark-gray);
                font-family: var(--paragraph);
                font-size: 14px;
                text-align: center;
            }

            .service-button {
                /* ----- Box Model ----- */
                position: absolute;
                width: 100px;
                height: 30px;
                padding: 0 10px;

                /* ----- Align Horizontally ----- */
                left: 50%;
                transform: translateX(-50%);

                /* ----- Visual Decoration ----- */
                border-radius: 5px;

                /* ----- Typography ----- */
                color: var(--white);
                font-family: var(--paragraph);
                font-size: 14px;
                text-align: center;
                font-weight: bold;
                line-height: 30px;
                text-decoration: none;
                background-color: var(--charcoal);
            }

                .service-button a:hover {
                    /* ----- Typography ----- */
                    background-color: var(--jade);
                }

/* -------------------- Recent Articles -------------------- */

.recent-articles {
    /* ----- Box Model ----- */
    position: relative;
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;

    /* ----- Typography ----- */
    background-color: var(--white);
}

    .recent-articles-header {
        /* ----- Box Model ----- */
        position: relative;
        width: 100%;
        margin-bottom: 30px;

        /* ----- Typography ----- */
        color: var(--black);
        font-family: var(--header);
        font-size: 25px;
    }

    .recent-articles-list {
        /* ----- Box Model ----- */
        position: relative;
        width: 100%;
        height: max-content;
    }

        .article {
            /* ----- Box Model ----- */
            position: relative;
            display: inline-block;
            width: 31%;
            margin: 0 1%;
        }
        
            .article-link {
                /* ----- Box Model ----- */
                position: relative;
                width: 100%;

                /* ----- Visual Decoration ----- */
                text-decoration: none;
            }

            .article-image {
                /* ----- Box Model ----- */
                position: relative;
                width: 100%;
                height: 200px;
                margin-bottom: 20px;
            }

                .article-image img {
                    /* ----- Box Model ----- */
                    width: 100%;
                    
                    /* ----- Visual Decoration ----- */
                    background-color: #333333;
                }

            .article-text {
                /* ----- Box Model ----- */
                width: 100%;
                height: max-content;
                padding: 25px 20px;
            }

                .article-header {
                    /* ----- Box Model ----- */
                    padding-bottom: 10px;

                    /* ----- Typography ----- */
                    color: var(--black);
                    font-family: var(--header);
                    font-size: 20px;
                }

                .article-label {
                    /* ----- Typography ----- */
                    color: var(--black);
                    font-family: var(--paragraph);
                    font-size: 14px;
                }

/* -------------------- Footer -------------------- */

.footer {
    /* ----- Box Model ----- */
    position: relative;
    width: auto;
    height: fit-content;
    padding: 20px;

    /* ----- Typography ----- */
    background-color: var(--charcoal);
    box-sizing: content-box;
}

    .footer-item {
        /* ----- Box Model ----- */
        position: relative;
        display: inline-block;
        width: 33%;
        height: 80px;
    }

        .footer-content {
            /* ----- Box Model ----- */
            position: absolute;
            
            /* ----- Align Horizontally ----- */
            left: 50%;
            transform: translateX(-50%);
        }

            .footer-header {
                /* ----- Box Model ----- */
                margin-bottom: 10px;

                /* ----- Typography ----- */
                color: var(--white);
                font-family: var(--header);
                font-size: 20px;
            }

            .footer-label {
                /* ----- Typography ----- */
                color: var(--white);
                font-family: var(--paragraph);
                font-size: 11px;
                font-weight: lighter;
            }